#btn{
    background-color: #5e068a;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
}

.carousel-inner{
    position: relative;
 }
.carousel-caption {
    position: absolute;
    top: 300px;
}
.carousel-caption .head{
    margin-right: 1200px;
    width: 600px;
    height: 150px;
    text-align: left;
 }
 .carousel-caption #margn{
    margin-right: 1200px;
    width:200px;
    height:100px;
    background-color: blue;
    border-radius: 50px;
    border: none;
 }
 #bttn{
    background-color: #5e068a;
    width: 200px;
    height: 50px;
    
    border: none;
    color: white;
    padding: 5px;

 }







 #middlhead{
    color:purple;
}
#headr{
    color: #5e068a99
}
/* #si p{
    font-size: small;
} */
#stl{
    width:240px;
    height: 100px;
    background-color: purple;
    color: white;
    border-radius: 50px;
    font-size: large;
}
#stl:hover{
    background-color: white;
    color: purple;
}

#ul1 li a{
    color: blue;
}
#ul1 li a:hover{
    color:#5e068a
}
span{
    color: palevioletred;
}
#clr{
    text-align: center;
}
#id1{
    width: 100%;
    
    
    margin-left: 300px;
    transition: 1s ease-in-out;
}
#im1{
    width: 100%;
}
#id1:hover{
    transform: scale(.99);
}
.box{
   width: 100%;
}
#id2{
    width: 100%;
    margin-left: 300px;
}
#i{
    display: block;
}

.baax{
    width:100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
#card{
    width:100%;
    
    
    margin-left: 300px;
    margin-top: 30px;
    
}

.card{
    margin-top: 40px;
    
}
.card-body{
    height: 300px;
    margin-top: 20px;
}
#lin{
    background-color: #5e068a;
    color: antiquewhite;
}
#animim2{
    transition: 1s ease-in-out;  
}
#animim2:hover{
    transform: scale(.99);
}
#animbtn{
    color:#5e068a;
    background-color: white;
    width:250px;
    height:100px;
    border: #5e068a solid 1px;
    border-radius: 50px;
    margin-left: 400px;

}
#animbtn:hover{
    background-color: #5e068a;
    color: white;
    
}
#card{
    display: flex;
    justify-content: space-between;
}