#btn{
    background-color: hsl(280, 92%, 28%);
    width: 200px;
    
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
}

/* .carousel-inner{
    position: relative;
 }
.carousel-caption {
    position: absolute;
    top: 300px;
}
.carousel-caption .head{
    margin-right: 1200px;
    width: 600px;
   
    height: 150px;
    text-align: left;
 }
 .carousel-caption #margn{
    margin-right: 1200px;
    width:200px;
    
    height:100px;
    background-color: blue;
    border-radius: 50px;
    border: none;
 } */
 #bttn{
    background-color: #5e068a;
    width: 200px;
    
    height: 50px;
    
    border: none;
    color: white;
    padding: 5px;

 }







 #middlhead{
    color:purple;
    
}
#headr{
    color: #5e068a99
}

#stl{
    width:240px;
    
    height: 100px;
    background-color: purple;
    color: white;
    border-radius: 50px;
    font-size: large;
}
#stl:hover{
    background-color: white;
    color: purple;
}

#ul1 li a{
    color: blue;
}
#ul1 li a:hover{
    color:#5e068a
}
span{
    color: palevioletred;
}
#clr{
    text-align: center;
    width: 100%;
}
#id1{
    width: 100%;
    
    
    /* margin-left: 300px; */
    transition: 1s ease-in-out;
}
#im1{
    width: 100%;
}
#id1:hover{
    transform: scale(.99);
}
.box{
   width: 100%;
}
#id2{
    width: 100%;
    /* margin-left: 300px; */
}
#i{
    display: block;
}

.baax{
    
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    
    
}
#card{
    width:100%;

    
    
   
    
}

.card{
    margin-top: 40px;
    
}
.card-body{
    height: 300px;
    margin-top: 20px;
}
#lin{
    background-color: #5e068a;
    color: antiquewhite;
}
#animim2{
    transition: 1s ease-in-out;  
}
#animim2:hover{
    transform: scale(.99);
}
#animbtn{
    color:#5e068a;
    background-color: white;
    width:250px;
    
    height:100px;
    border: #5e068a solid 1px;
    border-radius: 50px;
   

}
#animbtn:hover{
    background-color: #5e068a;
    color: white;
    
}
#card{
    display: flex;
    justify-content: space-around;
}
 @media(max-width:600px){
    
    
   #hid {
       display: none; 
    }
    .carousel-caption h1 {
font-size: 9pt;
    }
    .card-body p{
        font-size: 1pt;
    }
}
    

   
   
    


#card {
    inline-size: min-content;
  }




@media screen and (min-width: 1900px) {
    #card{
        margin-left: 300px;
    }
    #animbtn{
        margin-left: 500px;
    }
    
  }

 
    